.headerStyle {
  padding: 1rem;
  background-color: #f89e2b;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f89e2b;
  color: #fff;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s ease;
  box-shadow: 0 0 10px rgba(248, 158, 43, 0.9) !important;
}

.logo img {
  max-height: 70px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.main_wrapper {
  padding: 20px 0px 0 0px;
}
.items_title {
  padding-bottom: 16px;
  font-family: Ubuntu;
}
.item_title {
  font-family: Roboto;
  font-size: 18px;
  margin-bottom: 0px !important;
}

.summary_title {
  font-family: Ubuntu;
}
.card-title {
  margin: 0;
}

.card-img-top {
  width: 100%;
  height: 130px;
}

.card {
  transition: transform 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: translateY(-5px);
}

.summary {
  height: 660px;
  background-color: #f8f9fa;
  border-radius: 8px;
  padding: 20px;
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}
.card_item {
  position: relative;
  border: none !important;
  border-radius: 25px !important;
  transition: transform 0.3s ease;
  box-shadow: 0 0 10px rgba(248, 158, 43, 0.4) !important; /* Adjust shadow as needed */
}
.list_title {
  font-family: Roboto;
}
.card-img-top {
  border-radius: 25px !important;
}
.item {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.item:hover {
  background-color: #f8f9fa !;
}

.total-placeholder {
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px;
}

.total-placeholder:not(.visible) {
  display: none;
}
.selected_item_list {
  height: 480px;
}
.total_container {
  align-content: center;
}
.total {
  font-size: large;
  font-family: Roboto;
}

.place-order-btn {
  float: right;
  align-items: center;
  appearance: none;
  background-color: #f89e2b;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #f89e2b 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: 'JetBrains Mono', monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.place-order-btn:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}
.place-order-btn:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #f89e2b 0 -3px 0 inset;
  transform: translateY(-2px);
}
.place-order-btn:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

/* Order page  */
.card_order {
  border-radius: 25px !important;
}
.card-header:first-child {
  border-radius: 25px 25px 0 0 !important;
}
.item_container {
  height: auto;
}
.orders_card {
  padding: 0px 4px !important;
}
.order_title {
  font-family: Ubuntu;
}
.order_number {
  font-family: Josefin Sans;
}
.order_itemList {
  font-family: Roboto;
}
.customer_name {
  color: red;
  font-weight: 900;
  font-size: large;
}
.order_datetime {
  margin-top: 0px;
  font-size: 12px;
}
.btn-done {
  margin: 6px 0px 0px 0px;
}
.btn-cancel {
  margin: 6px 0px 0px 6px;
}
/* .card_wrapper {
  margin-bottom: 12px !;
} */
.card-body {
  padding: 14px !important;
}
.card_style {
  padding-top: 6px !important;
  padding-bottom: 10px !important;
}
.bg-mandir {
  background-color: #ffeace !important;
}
.bg-store {
  background-color: #b3c6fa !important;
}
/* Order List page  */
.orderListItem {
  list-style: none;
  padding: 0;
}
/* Stock Model  */
.modal-title {
  color: black;
}
.model_input {
  color: black;
}

/* Media Query */

@media only screen and (max-width: 991px) {
  .item_title {
    padding-top: 40px;
  }
  .summary {
    margin-bottom: 20px;
  }
  .order_datetime {
    font-size: 10px;
  }
  .btn-done {
    margin-top: 6px;
  }
  .btn-cancel {
    margin-left: 6px;
    margin-top: 6px !important;
  }
}
